@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

:root {
    --yellow: #FFB431;
    --gray: #DEDEDE;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --lightRed: #DE5540;
    --green: #09ff00;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
}

span#container {
    width: 500px;
    height: 442px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span#container #side-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

span#container img {
    width: 258px;
    height: 258px;
    transform: scaleX(-1);
}

span#container div#biaText {
    width: 245px;
    height: 218px;
    color: var(--black);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span#container div#bia {
    color: var(--yellow);
}

#dica {
    position: absolute;
    fill: var(--lightRed);
    top: 15%;
    left: 55%;
}

span#container input#palpite {
    width: 55px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--black);
    background: var(--white);
    margin-top: 34px;
    margin-bottom: 26px;
    text-align: center;
}

span#container h3#erradas {
    color: var(--yellow);
}

span#fora {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    visibility: hidden;
    background-color: var(--black);
}

span#aviso {
    position: absolute;
    width: 500px;
    height: 442px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    /* visibility: hidden; */
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span#aviso img#biaEmBranco {
    width: 258px;
    height: 258px;
    position: relative;
}

span#aviso h1#textoAviso {
    text-align: center;
    font-size: 48px;
    color: var(--yellow);
}

span#aviso #iconeVazio {
    position: absolute;
    top: 47%;
    left: 53%;
    fill: var(--black);
}